<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic head tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- JQuery tags before bootstrap -->
  <script src="/script/jquery-3.2.1.min.js"></script>

  <!-- Bootstrap tags -->
  <link href="/style/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="/style/bootstrap-3.3.7/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, userscalable=
no">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Marcellus|Montserrat+Subrayada|Poiret+One|Poppins|Roboto" rel="stylesheet">

  <!-- Own tags - Custom CSS - Custom Scripts -->
  <script src="/script/script.js"></script>
  <link href="/style/style.css" rel="stylesheet">

  <title>{{pagetitle}}</title>

</head>

<body>

  <!-- content navibar in Header-->
  <div class="container-fluid">
    {{> header}}
  </div>

  <div class="container-fluid">
    {{{body}}}
  </div>

  <!-- FOOTER -->
  <div class="container-fluid">
    {{> footer}}
  </div>

  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>

</html>
