/* Our own CSS, overwriting Bootstrap basic design */

/*

font-family: 'Roboto', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Marcellus', serif;
font-family: 'Montserrat Subrayada', sans-serif;
font-family: 'Poiret One', cursive;


*/

* {margin: 0; padding: 0;}

h1 {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-family: 'Marcellus', serif;
}

h3, h4 {
    font-family: 'Montserrat Subrayada', sans-serif;
}

 /*No style
 .page_header, {
}
 */

.menu_ul {
    margin-top: 30px;

}

.menu_item {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.hr-menu {
    border-width: 20px;
    margin-bottom: 30px;
}

.titleline {
font-family: 'Poppins', sans-serif;
font-size: 30px;
}
.subtitleline {
font-family: 'Marcellus', serif;
font-size: 25px;
}
.subsub {
font-family: 'Marcellus', serif;
font-size: 18px;
}

.thumbnail {
    position: relative;
	margin-bottom:7px;
    height: 400px;
    width: 100%;
    overflow: hidden;
}

.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

/* crousel*/
.carousel{
  height: 500px;
  margin:auto;
}

@media (min-width: 320px) {
  .carousel,
  .carousel .item,
  .carousel .item-mask,
  .carousel-inner .item .item-mask img {
  height:150px;
  }
}

@media (min-width: 768px) {
  .carousel,
  .carousel .item,
  .carousel .item-mask,
  .carousel-inner .item .item-mask img {
   height:500px;
  }
}