<!DOCTYPE html>

<div class="container-fluid contents">
  <div class="content-primary">
    <h3>{{projectname}}</h3>
    {{#with images.[0]}}
      <img src="{{this.featuredimg}}" class="img-responsive" alt="image">
      {{# each this.projectimgs}}
        <img src="{{this}}" class="img-responsive" alt="image">
        {{/each}}
    {{/with}}
  </div>
  <div class="content-secondary">
    <div class="description">
      <p>
        {{pjct_desc}}
      </p>
    </div>
  </div>
</div>
