<!DOCTYPE html>

<div class="container-fluid contents">
  <div class="content-primary">
    <h3>{{projectname}}</h3>
    {{#with images.[0]}}
      <img src="{{this.featuredimg}}" class="img-responsive" alt="image">
      {{# each this.projectimgs}}
        <div class="image"><img src="{{this}}" alt="Photo1" class="img-responsive"></div>
        {{/each}}
    {{/with}}
  </div>
  <div class="content-secondary">
    <div class="description">
      <p>
        {{pjct_desc}}
      </p>
    </div>
  </div>
</div>
